

.aboutus-box{
	margin-top:80px;
	width: 1000px;
	height: 600px;
	margin-left:auto;
	margin-right:auto;

}
.aboutus-title{
	width: 1000px;
	height: 100px;
	border-bottom: 1px solid #ccc;
	overflow: auto;
}
.aboutus-title span{
	display: block;
	text-align: center;
	margin-top: 50px;
	font-size: 16px;
    font-weight: bold;

}
.aboutus-list li{
	list-style: none;
	margin: 10px 0;
}